body {
	font-family: "Bellefair", serif;
	color: rgba(218, 216, 216, 0.685);
	font-size: large;
	display: flex;
	height: 100vh;
	width: 100vw;
	background-image: url("https://my.wizardingworld.com/static/media/starBg.2d56f5ec.jpg");
	overflow: hidden;
}

#title {
	font-family: "Bluu Next", serif;
	font-size: 60px;
	display: flex;
	text-align: center;
	justify-content: center;
	color: rgba(245, 243, 243, 0.835);
	text-shadow: 8px 8px 40px silver;
}

.app-wrapper {
	display: flex;
	position: relative;
	height: 100%;
	width: 100%;
}

/* Form CSS */
.add-students {
	float: left;
	padding: 10px;
	margin: 20px;
	display: flex;
}

.form-wrapper {
	z-index: 100;
	margin-top: 20%;
	width: 30vw;
	margin-right: 4em;
	/* background-image: url("https://my.wizardingworld.com/static/media/explosion.6b529fd2.png"); */
}

.attendance-form {
	display: flex;
}

.form-field {
	display: flex;
	border-radius: 5px;
	font-family: inherit;
	width: 100%;
	font-size: large;
	color: rgba(245, 243, 243, 0.835);
	border: rgba(245, 243, 243, 0.835);
	background-color: rgba(34, 39, 68, 0.63);
}

.form-item {
	margin: 10px;
}

select {
	font-family: inherit;
	width: 100%;
	font-size: large;
	color: rgba(245, 243, 243, 0.835);
	border: rgba(245, 243, 243, 0.835);
	background-color: rgba(34, 39, 68, 0.63);
	text-align: center;
}

.submit-btn {
	display: inline-block;
	border: none;
	padding: 1rem 2rem;
	margin-top: 20px;
	text-decoration: none;
	background: #1a314d31;
	color: #ffffff;
	font-family: inherit;
	font-size: 1rem;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out, transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
}

.submit-btn:hover {
	background: #3e266b9f;
}

/* Search component CSS */
.search-wrapper {
	z-index: 100;
	margin-top: 20%;
	width: 30vw;
	margin-left: 2em;
	max-height: 10em;
}

#search-header {
	font-size: 1.5em;
	margin-left: 0;
	display: flex;
	color: rgba(245, 243, 243, 0.835);
}

#autocomplete-wrapper {
	max-height: 12em;
	overflow: auto;
}
.autocomplete-suggestion {
	height: 1.5em;
	border: 1px solid rgba(255, 255, 255, 0.404);
	text-align: center;
	font-size: larger;
	z-index: 100;
}

.autocomplete-suggestion:hover {
	height: 1.5em;
	border: 2px solid white;
	text-align: center;
	font-size: larger;
	cursor: pointer;
	background-color: rgba(9, 11, 19, 0.692);
}

/* Record component CSS */
#register {
	float: right;
	margin: 0.2em;
	margin-top: 2em;
	padding: 0.1em;
	height: 80%;
	width: 50vw;
	overflow: auto;
}

.register-table {
	margin-top: 2em;
	overflow: auto;
}

.student-record {
	background-color: rgba(66, 50, 97, 0.233);
	border-radius: 20px;
	height: 6.5em;
	margin-top: 10px;
}

#register-component-header {
	position: fixed;
}

#star-background {
	font-size: 8.5em;
	position: fixed;
	z-index: -2;
	margin-top: -0.38em;
	margin-left: 1.55em;
	text-align: center;
	color: rgba(12, 15, 41, 0.63);
	text-shadow: 0px 0px 25px rgba(213, 215, 224, 0.63);
}

.component-title {
	font-family: "MasonSansRegular", sans-serif;
	padding: 5px;
	width: 21.5em;
	color: silver;
	margin-top: 0px;
	text-align: center;
	text-shadow: 2px 2px 8px rgb(206, 177, 177);
}

/* Student record CSS */
.house-badge-img-container {
	display: flex;
	width: 20%;
}

.house-badges {
	height: 6em;
	margin-left: 2.3em;
	margin-top: 0.3em;
}
.student-class-info {
	float: right;
	right: 0px;
	margin-left: 5%;
	margin-left: 1.5em;
}

.student-info {
	display: flex;
}

.student-info-is-late {
	display: flex;
	border-radius: 10px;
	border: 3px solid rgba(173, 28, 28, 0.61);
	box-shadow: 4px 3px 20px rgba(199, 23, 23, 0.76);
}
.student-name {
	margin-bottom: 0;
	margin-top: 0.5em;
	font-size: xx-large;
}

/* Checkbox styling for late checker */

.late-checker {
	margin-top: 2em;
	margin-left: 2em;
}
.late-checker-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.late-checker-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.late-checker-container:hover input ~ .checkmark {
	background-color: rgba(173, 28, 28, 0.61);
}

.late-checker-container input:checked ~ .checkmark {
	background-color: #7a1624;
}

.late-checker-container input:checked ~ .checkmark:after {
	display: block;
}

.late-checker-container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid rgba(255, 255, 255, 0.794);
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	border-radius: 2px;
	background-color: rgb(117, 108, 155);
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Remove default styling */
h3,
h2 {
	margin: 0;
}
